# Godot 4+ specific ignores
.godot/
/android/
TopDown/
src.exp
src.lib
src.pdb
sceneTreeHook.pdb
sceneTreeHook.exp
sceneTreeHook.lib
extension_api.json
gdextension_interface.h
ols.json
.vs
output.odin
output.txt
classParser.exe
simplifiedCExample.exp
simplifiedCExample.lib
simplifiedCExample.pdb
bulletshowerexample.dll
bulletshowerexample.exp
bulletshowerexample.lib
bulletshowerexample.pdb
classParser.exe
top-down-4_5
bulletshowerexample.dll